CMakeCache.txt
CMakeFiles/
Makefile
bash_profile.log
cmake_install.cmake
database.json
ext/secp256k1-0.3.2/CMakeFiles/
ext/secp256k1-0.3.2/CTestTestfile.cmake
ext/secp256k1-0.3.2/DartConfiguration.tcl
ext/secp256k1-0.3.2/cmake_install.cmake
ext/secp256k1-0.3.2/src/CMakeFiles/
ext/secp256k1-0.3.2/src/CTestTestfile.cmake
ext/secp256k1-0.3.2/src/cmake_install.cmake
http_client
http_relay
libnostr.a
list_01.txt
list_02.txt
nostro
server.crt
server.key
web/




src/nostril/CMakeFiles/
src/nostril/cmake_install.cmake
src/nostril/configurator
src/nostril/configurator.out.dSYM/
src/nostril/libnostri.a
src/nostril/nostril
tests
vostro
